<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Password1</th>
            <th>password2</th>
            <th>Email</th>
            <th>Phone</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.password1}}</td>
            <td>{{user.password2}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>
                <button class="btn btn-info">Update</button>
                <button class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
 
 
<div class=" text-center">
    <button class="btn  btn-warning" >
    <a  routerLink="/register">Register</a></button>
    </div>


