
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Subject</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contact">
            <td>{{contact.id}}</td>
            <td>{{contact.name}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.phone}}</td>
            <td>{{contact.subject}}</td>
            <!-- <td>
                <button class="btn btn-info" (click)="updateCompany(company.id)">Update</button>
                <button class="btn btn-danger" (click)="deleteCompany(company)">Delete</button>
            </td> -->
        </tr>
    </tbody>
</table>

