    <hr>
    <header class="bg-dark">
          <h1 class="display-3 text-center my-4 text-light lead ">Stock Market Exchange</h1>
    </header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">About</a>
                </li>
        
                <li class="nav-item">
                    <a class="nav-link">Contact</a>
                </li>
        
            </ul>
      <ul class="navbar-nav float-right">
        <li ><a routerLink="/login" class=" btn btn-success" >Login </a>
        </li>
        <li ><a routerLink="/register" class=" btn btn-success" >Register </a>
          <li ><a routerLink="/userlist" class=" btn btn-success" >Display Users</a>
        </li>
      </ul>
        </div>
    </nav>
    <br><br><br>
    
    <router-outlet></router-outlet>
  
    <footer class="page-footer font-small blue">
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3 bg-dark text-white mb-3">© 2020 Copyright:
        <a href="www.amazon.in"> Amazon</a>
      </div></footer>