    <section class="container">

        <div> 
            <img src="https://image.freepik.com/free-vector/businessman-running-with-candlestick-chart_77417-165.jpg" style="object-fit: cover;" height="700" width="550" />
        </div>
        
        <div>
            <br>
            <div class="row justify-content-center">
                <div class="col" padding=20vh>
            <h4 class="font-weight-bold text-center">Stock Market:</h4>
            
                      Stock market is a place where people buy/sell shares of publicly listed companies.
            <br>
            It offers a platform to facilitate seamless exchange of shares.
            <br>
            In simple terms, if A wants to sell shares of Reliance Industries,
            <br> the stock market will help him to
            meet the seller who is willing to buy Reliance Industries. 
            <br>
            However, it is important to note that a
            person can trade in the stock market only through a registered intermediary known as a stock broker. The
            buying and selling of shares take place through electronic medium. We will discuss more about the stock
            brokers at a later point.
            <br>
            <br>

            <br>
            <div class="row justify-content-center">
                <div class="col" padding=20vh>
            <h4 class="font-weight-bold text-center">Stock Exchanges in India:</h4>
            <!-- <h4><b><u>Stock Exchanges in India:</u></b></h4> -->
                         There are two main stock exchanges in India where majority of the trades take place 
            <br>
            Bombay Stock
            Exchange (BSE) and
            the National Stock Exchange (NSE). Apart from these two exchanges,
             there are some other regional stock exchanges like Bangalore Stock Exchange,
            Madras Stock Exchange etc but these exchanges do not play a meaningful role anymore.
        </div>
        </div>
        </div>
    </div>
    </div>
    </section>
    <br>
    
    <!-- <div class="  text-ri">
        <div class="h1">Login</div>
         </div>
         <div class="container bg-transparent">
             <div class="row">
             <div class="col">
                     <div class="card shadow bg-transparent">
                         <div class="card-body ">
                             <form [formGroup]="checker">

                                <div class="jumbotron bg-muted">
                            
                         
                                    <div class="input-group-prepend">
                                        <span class="input-group-text text-secondary">username</span>
                                   
                                   
                                    <input type="text" id="id" name="username" formControlName="username"
                                       required />
                                </div>

                                <div class="input-group-prepend">
                                    <span class="input-group-text text-secondary">password</span>
                                
                               
                                <input type="password" id="password" name="password" formControlName="password"
                                   required />
                            </div>
                            <div class="row justify-content-center">
                                <button type="button" class="btn btn-success mx-2" (click)="addOrder()" > LOGIN </button>
                                
</div> 
</div> -->



 <!-- <marquee style="color:brown">
        <footer class="fixed-bottom"> <b>for enquiry contact us:admin56@gmail.com <br>
                mobileNo:9763530194</b>
        </footer>
    </marquee> -->