<header style="color: rgb(21, 37, 54);" class="text-center"><h2>AdminLandingPage</h2></header>
    <!-- <div class="jumbotron jumbotron-fluid">
        <div class="container"> -->
<!-- //<form class=" w-50 container" [formGroup]="importdataForm"  (ngSubmit)="onSubmit()">
<div class="form-group"> -->
    <div class="container">
<div class="hero-bkg-animated">
    <div class="card text-dark bg-light mb-3">
            <p class="h4 card-header">Import Excel Data</p>
            <div class="card-body bg-light">
                <p class="card-text">Select File to be uploaded:&nbsp;</p>
                <div class="input-group mb-3">

                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile">
                        <label class="custom-file-label" for="inputGroupFile">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text" id="inputGroupFileAddon">Upload</span>
                    </div>
                    </div>
                </div>
            </div>
    
    

</div>
</div>
